Global Styles
* {
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to right, #6a11cb, #2575fc);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  h2 {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 30px;
    color: #fff;
  }
  
  .login-container {
    background-color: #fff;
    width: 100%;
    max-width: 400px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  
  .login-form {
    display: flex;
    flex-direction: column;
  }
  
  .login-form input {
    width: 100%;
    padding: 20px 15px;
    margin: 10px 0;
    border: 2px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
    transition: border 0.3s ease;
  }
  
  @media (max-width: 480px) {
    .login-container {
      padding: 20px;
      width: 90%;
    }
  }

button {
    background: #000;
    color: white;
    padding: 14px 22px;
    border: none;
    border-radius: 30px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
    transition: 0.3s ease-in-out;
  }
  
  button:hover {
    background:linear-gradient(to right, #6a11cb, #2575fc);
    transform: translateY(-2px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
  }
  
  button:active {
    transform: scale(0.98);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }